/* Box sizing rules */
@import "tailwindcss";
*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: #fff;
  color: var(--clr-main);
}
/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
:root {
  --clr-main: rgb(7, 208, 118);
  --clr-green: #26ba79;
  --clr-green2: #108655;
  --clr-text: #e4e4e4;
}
/* Set body defaults */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  color: var(--clr-text);
  font-family: var(--font-montserrat), sans-serif;
  overflow-x: hidden;

  font-size: 1.8rem;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default button styles */
button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Ensure images and videos are responsive */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Remove anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Improve accessibility for reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* Reset Heading and Paragraph Styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1.4;
}

/* Ensure paragraphs are readable */
.flex {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: center;
  padding: 3rem 5rem;
  gap: 10rem;
  border-bottom: 1px solid rgb(52, 47, 47);
}

.nav__links {
  gap: 4rem;
}
.nav__links > li a {
  position: relative;
}
.nav__links > li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background: var(--clr-main);
  transition: 0.3s;
}
.nav__links > li a:hover::after {
  width: 100%;
}

.nav__links > li a.active::after {
  width: 100%;
}

@media screen and (max-width: 1022px) {
  .nav {
    padding: 3rem 2.5rem;
    gap: 5rem;
  }
  .nav__links {
    gap: 2rem;
  }
  .nav__links > li a {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 793px) {
  .nav {
    padding: 3rem 2.5rem;
    gap: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .nav__links {
    display: none;
  }
  .nav {
    justify-content: space-between;
  }
}

/* mobile menu Styles */
.mobile__menu {
  position: absolute;
  top: 0;
  right: -50rem;
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: var(--clr-green);
  backdrop-filter: blur(400px);
  padding: 2rem;
  border-radius: 0.5rem;
  z-index: 100;
}
.light-effect {
  position: absolute;
  top: -10px;
  right: 0;
  z-index: -1;
}

.light-effect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient-text {
  background: linear-gradient(90deg, #fff 50%, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text {
  user-select: none;
}
.hero-content {
  text-align: center;
  max-width: 60%;
  margin: auto;
  margin-top: 10rem;
}

.hero-content h1 {
  font-size: clamp(3rem, 5vw + 2rem, 7rem);
  font-weight: 600;
  line-height: 1.2;
}
.hero-content p {
  font-size: clamp(1.8rem, 1vw + 1rem, 2rem);
  margin-top: 2rem;
  max-width: 50%;
  text-align: center;
  margin-inline: auto;
}

.btns {
  gap: 3rem;
  justify-content: center;
  margin-top: 3rem;
}
.btns .btn {
  padding: 1rem 2rem;
  color: var(--clr-main);
  font-weight: 500;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  transition: 0.3s;
}
.btns .btn:hover {
  opacity: 0.7;
}
.btns .btn:first-child {
  background: linear-gradient(to bottom, rgb(55, 100, 55), var(--clr-green));
}

.btns .btn:last-child {
  border: 2px solid white;
}

.stats-container {
  margin-top: 10rem;
  justify-content: space-between;
  padding-inline: 5rem;
}
.stats-container .left {
  flex-basis: 40%;
}
.stats-container .left > p {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.9;
}
.stats-box {
  border: 1px solid gray;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.086);
  border-radius: 1rem;
  padding: 1.8rem;
  justify-content: space-between;
  margin-top: 6rem;
}
.stats-box > div h2 {
  font-size: 5rem;
  font-weight: 600;
  color: var(--clr-main);
}

.stats-box > div p {
  font-size: 1.4rem;
}

.about {
  padding: 5rem;
  gap: 4rem;
  width: 100%;
  align-items: flex-start;
  position: relative;
}
.about .left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.about .left p {
  line-height: 1.9;
}

.about .right {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about .right > div {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.086);
  border: 1px solid gray;
  border-radius: 1.2rem;
}
.about .right p {
  font-size: 1.6rem;
  line-height: 1.9;
  margin-bottom: 1.5rem;
}
.about .right h2 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.blur-effect {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 400px;
  background-color: var(--clr-main);
  filter: blur(100px);
  opacity: 0.6;
}

.footer {
  padding: 5rem 7rem;
  background-image: linear-gradient(
    to bottom,
    var(--clr-green),
    var(--clr-green2)
  );
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  width: 100%;
}

.footer .col-1 > img {
  width: 300px;
}

.footer > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer > div h2 {
  font-size: 2rem;
  font-weight: 600;
}
.social-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.social-links img {
  width: 2rem;
  display: inline-block;
}

.col-3 span,
.social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  padding: 1rem;
}

.col-3 > div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (max-width: 983px) {
  .footer {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    row-gap: 4rem;
  }
}
@media screen and (max-width: 732px) {
  .footer {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: flex-start;
    row-gap: 4rem;
  }
}
/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track background */
  border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #07d076; /* Thumb color */
  border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #05b362; /* Darker shade on hover */
}
.modal {
  color: #000;
}

.modal .left,
.modal .right {
  background-color: var(--clr-main);
  padding-block: 2rem;
}
.modal .right {
  background-color: white;
  padding: 4rem;
}
.modal .right h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.modal .right p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  line-height: 1.8;
}
.font-bold {
  font-weight: 600;
}
.modal .left > div {
  position: relative;
  padding: 1.5rem 2rem;
}
.modal .left > div::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}
.modal .left ul {
  margin-top: 2rem;
}

.modal .left ul > li {
  text-align: left;
  margin-bottom: 1.5rem;
  font-weight: 500;
  padding: 2rem;
  transition: 0.3s;
}

.modal .left ul > li:hover {
  background-color: var(--clr-green2);
  color: white;
  text-decoration: underline;
}

img {
  min-width: max-content;
  min-height: max-content;
}
.service {
  padding: 3rem 15rem;
}

.service h1 {
  font-size: clamp(2.5rem, 3vw + 2rem, 5rem);
  font-weight: 600;
  padding: 10rem 0;
  text-align: center;
}
.service p {
  margin-top: 3rem;
  font-size: 1.9rem;
  line-height: 1.8;
}
.service .image-container {
  position: relative;
  width: 100%;
  height: 40rem;
  margin-top: 4rem;
  overflow: hidden;
  border-radius: 1.8rem;
  box-shadow: 5px 10px 20px rgba(7, 208, 118, 0.3);
}
.service .image-container img {
  object-fit: contain;
  object-position: bottom;
}
.service-list {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.service-item {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  background-color: rgba(255, 255, 255, 0.086);
  border: 1px solid gray;
  border-radius: 1rem;
}
.service-item h2 {
  font-size: 5rem;
  font-weight: 600;
  color: var(--clr-main);
  align-self: flex-start;
}
.service-item h3 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 0.5;
}
.service-item p {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 400;
  width: 100%;
}

@media screen and (max-width: 983px) {
  .service {
    padding: 3rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .service {
    padding: 3rem 4rem;
  }
  .service h1 {
    font-weight: 600;
    padding: 5rem 0;
    text-align: center;
  }
  .service p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
  .service-item h2 {
    font-size: 3rem;
  }
  .service-item h3 {
    font-size: 2rem;
  }
  .service-item p {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .service .image-container {
    height: 30rem;
    border-radius: 1.2rem;
  }
}
